.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;

  &__logo {
    font-size: 20px;
    font-weight: 600;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
    @media (prefers-color-scheme: light) {
      color: black;
    }
    margin-left: 40px;

    &-link {
      text-decoration: none;
      @media (prefers-color-scheme: dark) {
        color: white;
      }
      @media (prefers-color-scheme: light) {
        color: black;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__search {
    & form {
      width: auto;
      @media (min-width: 300px) {
        margin-left: 70px;
        margin-right: 30px;
      }
      @media (min-width: 376px) {
        margin-right: 20px;
      }
      @media (min-width: 768px) {
        margin-right: 60px;
      }

      & input {
        @media (min-width: 300px) {
          width: 150px;
        }
        @media (min-width: 376px) {
          width: 170px;
        }
        @media (min-width: 768px) {
          width: 200px;
        }
        width: 200px;
        height: 35px;
        padding-left: 15px;
        border-radius: 20px;
        border: 2px solid #324b4e;
        background: #ffffff;
        outline: none;
        font-size: 16px;
        position: relative;
      }
    }
  }
}
