@import '../variables';

.item {
  width: 200px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  overflow: hidden;

  & .poster-img {
    width: 200px;
    height: 270px;
  }

  &:hover {
    cursor: pointer;
  }

  &-text {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;

    &-title {
      margin-right: 5px;
      & .title {
        color: #fffe;
        margin-bottom: 10px;
        font-size: 16px;
      }

      & .date {
        font-size: 14px;
        color: #858585;
      }
    }
    &-vote {
      font-size: 18px;
      color: rgb(169, 169, 169);
    }
  }
}
