@import '../variables';

.item-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;

  &-link {
    text-decoration: none;
    margin-bottom: 50px;
    height: max-content;

    @media (min-width: 768px) {
      margin-right: 20px;
    }
  }
}
