@import '../variables';

.item {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 14px;
  overflow: hidden;

  @media (min-width: 300px) {
    display: flex;
    width: 310px;
  }
  @media (min-width: 376px) {
    width: 370px;
    display: flex;
  }
  @media (min-width: 768px) {
    width: 200px;
    display: block;
  }

  & .poster-img {
    @media (min-width: 300px) {
      width: 120px;
      height: 170px;
    }
    @media (min-width: 376px) {
      width: 130px;
      height: 190px;
    }
    @media (min-width: 768px) {
      width: 200px;
      height: 270px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &-text {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;

    &-title {
      margin-right: 5px;

      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 300px) {
        width: 140px;
      }
      @media (min-width: 376px) {
        width: 180px;
      }
      @media (min-width: 768px) {
        display: block;
      }
      & .title {
        color: #fffe;
        margin-bottom: 10px;
        font-size: 20px;
        @media (min-width: 768px) {
          font-size: 16px;
        }
      }

      & .date {
        font-size: 16px;
        color: #858585;
        @media (min-width: 768px) {
          font-size: 14px;
        }
      }
    }
    &-vote {
      font-size: 18px;
      color: rgb(169, 169, 169);
    }
  }
}
