@import '../variables';

.item {
  width: 200px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 14px;
  overflow: hidden;
  display: blocl;
  @media (max-width: 375px) {
    width: 310px;
    display: flex;
  }
  @media (max-width: 450px) {
    width: 340px;
    display: flex;
  }

  & .poster-img {
    width: 200px;
    height: 270px;
    @media (max-width: 375px) {
      width: 120px;
      height: 170px;
    }
    @media (max-width: 450px) {
      width: 130px;
      height: 180px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &-text {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;

    &-title {
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 147px;
      @media (min-width: 768px) {
        display: block;
        width: auto;
      }
      & .title {
        color: #fffe;
        margin-bottom: 10px;
        font-size: 20px;
        @media (min-width: 768px) {
          font-size: 16px;
        }
      }

      & .date {
        font-size: 16px;
        color: #858585;
        @media (min-width: 768px) {
          font-size: 14px;
        }
      }
    }
    &-vote {
      font-size: 18px;
      color: rgb(169, 169, 169);
    }
  }
}
