@import "variables";
@import "libs/normalize";

@import "components/all";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  @media (prefers-color-scheme: dark) {
    background-color: $background;
    color: white;
  }
  @media (prefers-color-scheme: light) {
    background-color: $background-light;
    color: black;
  }
}

h2 {
  font-weight: 500;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  @media (prefers-color-scheme: light) {
    color: black;
  }
  padding-top: 40px;
  text-align: center;
  @media (min-width: 768px) {
    padding-top: 0;
    text-align: left;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 1400px;
}

.content {
  margin-top: 30px;

  padding: 20px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.movie-wrapper {
  margin: 0 auto;
  padding: 10px;
}

.movie-header {
  display: block;
  padding: 20px;
  @media (min-width: 768px) {
    display: flex;
    padding: 30px;
  }

  &-poster {
    &-img {
      max-width: 260px;
      border-radius: 10px;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        margin-bottom: 0px;
      }

      &.hidden {
        display: none;
      }
    }
  }

  &-info {
    @media (min-width: 768px) {
      margin-left: 50px;
    }

    &-subtitle {
      @media (prefers-color-scheme: dark) {
        color: rgb(211, 210, 210);
      }
      @media (prefers-color-scheme: light) {
        color: rgb(20, 20, 20);
      }
    }

    &-title {
      font-size: 30px;
      font-weight: 500;
      @media (prefers-color-scheme: dark) {
        color: white;
      }
      @media (prefers-color-scheme: light) {
        color: black;
      }
    }
    &-tagline {
      margin-bottom: 30px;
    }

    &-categories {
      margin-bottom: 5px;
      &-type {
        @media (prefers-color-scheme: dark) {
          color: white;
        }
        @media (prefers-color-scheme: light) {
          color: black;
        }
      }
    }

    &-date {
      margin-bottom: 5px;
    }

    &-budget {
      margin-bottom: 5px;
    }

    &-revenue {
      margin-bottom: 5px;
    }

    &-vote {
      margin-bottom: 5px;
    }

    &-runtime {
      margin-bottom: 5px;
    }

    &-overview {
      margin-top: 40px;
      font-size: 18px;
    }
    &-seasons {
      margin-bottom: 5px;
    }
    &-episodes {
      margin-bottom: 5px;
    }
  }
}

.btn-page {
  display: flex;
  justify-content: center;
  & span {
    @media (prefers-color-scheme: dark) {
      color: white;
    }
    @media (prefers-color-scheme: light) {
      color: black;
    }
    align-self: center;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }

  & .next-page-btn,
  .previous-page-btn {
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    @media (min-width: 768px) {
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      background: rgb(16, 16, 16);
    }
  }
}
.scrollmenu-trailer {
  overflow: auto;
  white-space: nowrap;
}

.trailer {
  display: inline-block;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 30px;
  }
  &-video {
    width: 300px;
    height: 200px;
    @media (min-width: 768px) {
      width: 400px;
      height: 250px;
    }
  }
  &-name {
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 18px;
    }

    margin-top: 20px;
  }
}
